.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  margin: 1rem;

  width: 260px;
  height: 380px;

  max-width: 280px;
  max-height: 380px;
  overflow: auto;

  background: var(--color-blue-2);

  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--card-border-rgb), 0);

  transition: background 200ms, border 200ms;

  position: relative;
}

.card * {
  box-sizing: border-box;
}

.card h2 {
  font-family: var(--font-mono);
  font-weight: 600;
  font-size: 1.2rem;

  margin: 1rem 0 0.7rem;
  padding: 0.5rem 0;
}

.card p {
  margin: 0;

  opacity: 0.6;

  font-size: 0.9rem;
  line-height: 1.5;

  max-width: 30ch;
  padding: 0.5rem 0;
}

.btnCard {
  border-radius: var(--border-radius);
  border: none;

  padding: 1rem 4.8rem;

  max-width: 100%;
  max-height: 40px;
  margin-bottom: 10px;

  background-color: var(--color-yellow-0);

  position: absolute;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}
.btnCard:hover {
  background-color: var(--color-brown-1);
  color: var(--color-yellow-0);
  opacity: 0.8;
}
.btnCard:active {
  transform: scale(0.88);
  opacity: 0.8;
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(114, 181, 45, 0.6);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}
