.top {
  background-color: var(--color-blue-2);

  width: 100vw;
  max-width: 100%;
  height: 220px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.logo {
  padding-left: 2rem;
}
.fav {
  border-radius: var(--border-radius);
  border: none;

  padding: 1rem 2.8rem;

  display: flex;
  align-items: center;

  max-width: 100%;
  max-height: 40px;
  margin-bottom: 10px;

  background-color: var(--color-yellow-0);
}
.formSearch {
  padding: 2rem;
}
.inputSearch {
  padding: 1rem;
  margin: 0.2rem;

  background-color: var(--color-blue-1);
  color: var(--color-blue-0);

  border: none;
  border-radius: 6px;
}
.btnSearch {
  padding: 1rem;
  background-color: var(--color-blue-0);
  color: var(--color-blue-2);

  border: none;
  border-radius: 6px;
}

@media (min-width: 700px) {
  .top {
    flex-direction: row;
  }
}
