.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.listPersona {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.paginate {
  display: flex;
  flex-direction: row;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
}
